@import "tailwindcss";
@import "@fontsource/bricolage-grotesque";
@import "@fontsource/inter";
@import "./theme.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(var(--bg-primary));
  color: rgb(var(--text-primary));
}

button {
  cursor: pointer;
}